<h1>{{model.name}}</h1>

<ul>
{{#each model.children as |activity|}}
  <li>
    <h2>
      {{activity.title}} <br />
      <small>{{activity.author}} <i>({{activity.published}})</i></small>
    </h2>
    <ul>
      {{#each activity.children as |section|}}
        <li>{{section.content}}</li>
      {{/each}}
    </ul>
  </li>
{{/each}}
</ul>
{{outlet}}
